In [30]:
import pandas as pd
import numpy as np
import scipy.stats as st
from statsmodels.stats.multicomp import pairwise_tukeyhsd

In [31]:
df = pd.read_csv("StudentsPerformance (1).csv")
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [32]:
parentslvlmasters = df[df['parental_level_of_education'] == "master's degree"]
parentslvlbachelors = df[df['parental_level_of_education'] == "bachelor's degree"]
parentslvlhighshool = df[df['parental_level_of_education'] == "high school"]
parentslvlassociates = df[df['parental_level_of_education'] == "associate's degree"]
parentslvlcollege = df[df['parental_level_of_education'] == "some college"]
#all the different datasets

mean_parentslvlmasters = parentslvlmasters['math_score'].mean()
mean_parentslvlbachelor = parentslvlbachelors['math_score'].mean()
mean_parentslvlhighschool = parentslvlhighshool['math_score'].mean()
mean_parentslvlassociates = parentslvlassociates['math_score'].mean()
mean_parentslvlcollege = parentslvlcollege['math_score'].mean()

print('Mean math grades based on parents level of education')
print('Mean associates', mean_parentslvlassociates)
print('Mean masters', mean_parentslvlmasters)
print('Mean bachelor', mean_parentslvlbachelor)
print('Mean highschool', mean_parentslvlhighschool)
print('Mean college', mean_parentslvlcollege)

#prints the mean values for all levels.
#!printing these means is a discriptive analysis, this is required for the final exam

Mean math grades based on parents level of education
Mean associates 67.88288288288288
Mean masters 69.7457627118644
Mean bachelor 69.38983050847457
Mean highschool 62.13775510204081
Mean college 67.1283185840708

In [33]:
anova = st.f_oneway(parentslvlassociates['math_score'], parentslvlbachelors['math_score'], parentslvlcollege['math_score'], parentslvlhighshool['math_score'], parentslvlmasters['math_score'])
print(anova)

F_onewayResult(statistic=6.711561302090127, pvalue=2.571851970804558e-05)

In [34]:
tukey_results = pairwise_tukeyhsd(endog=df['math_score'], groups=df["parental_level_of_education"])
print(tukey_results)
#tbf no clue wtf this means but it works yipiee

            Multiple Comparison of Means - Tukey HSD, FWER=0.05
============================================================================
      group1             group2      meandiff p-adj   lower    upper  reject
----------------------------------------------------------------------------
associate's degree bachelor's degree   1.5069 0.9503  -3.3587  6.3726  False
associate's degree       high school  -5.7451 0.0013  -9.9311 -1.5591   True
associate's degree   master's degree   1.8629 0.9578  -4.3927  8.1185  False
associate's degree      some college  -0.7546 0.9948  -4.7903  3.2812  False
associate's degree  some high school  -4.3857 0.0418   -8.676 -0.0954   True
 bachelor's degree       high school  -7.2521 0.0005 -12.2284 -2.2757   True
 bachelor's degree   master's degree   0.3559    1.0  -6.4539  7.1658  False
 bachelor's degree      some college  -2.2615 0.7676  -7.1122  2.5892  False
 bachelor's degree  some high school  -5.8926 0.0119  -10.957 -0.8282   True
       high school   master's degree    7.608 0.0084   1.2659 13.9501   True
       high school      some college   4.9906 0.0086    0.822  9.1592   True
       high school  some high school   1.3595 0.9515   -3.056  5.7749  False
   master's degree      some college  -2.6174 0.8384  -8.8614  3.6265  False
   master's degree  some high school  -6.2486 0.0611   -12.66  0.1628  False
      some college  some high school  -3.6311 0.1482  -7.9044  0.6422  False
----------------------------------------------------------------------------