In [44]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [45]:
df = pd.read_csv("dataset_1672182_resit.csv")
df.head()

,survey_id,gender,study_domain,study_year,avg_grade,housing,budget,relationship,social_events,drinks
0,acd7283f-8d05-4d1b-a1e7-4d09327e04b0,female,social sciences,fourth,7.45,other,average,no,average,6
1,91e1cf0e-fd57-4cfe-b485-c34ae4130816,female,law,fourth,6.85,parents,high,yes,average,9
2,fcd6549e-ca3f-44cd-9f10-589f904bea47,female,business,fourth,7.53,student housing,average,no,average,4
3,1947f389-988a-4085-9156-7eb3768a3c75,female,computer sciences,third,7.16,student housing,average,yes,low,2
4,296ec3d0-c708-4f87-8d1b-2e9fa2331efd,male,health,second,7.84,parents,high,yes,low,2

In [46]:
df.isnull().sum()

survey_id        11
gender            2
study_domain      0
study_year        0
avg_grade         0
housing           0
budget            0
relationship      0
social_events     0
drinks            0
dtype: int64

In [47]:
df = df.dropna()

Question 1:

In [52]:
students = len(df)
print("The total amount of students that answered the survey:", students)

total_drinks = sum(df["drinks"])
print("Total amount of drinks consumed per week:", total_drinks)

print("Average drinks per student per week:", total_drinks/students)

The total amount of students that answered the survey: 337
Total amount of drinks consumed per week: 2154
Average drinks per student per week: 6.3916913946587535