In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
import statsmodels.formula.api as sm
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

Assignment 1:
    Catagorical variables: Product_Catagory & Quality
    Figure out reference category (class 3) (this is comparing smth to the others, so for example how much more expensive the food is compared to the other product categories)

In [2]:
df = pd.read_csv('1672182Pet shop.csv')
df.head()

,Unnamed: 0,products_sold,product_category,quality,satisfaction,discount,retail_price,perc_physical,market_size
0,1,162907,toys,premium,4.0,4,30.0,54.2,2744
1,2,195042,food,premium,3.9,4,22.0,64.4,3083
2,3,72749,toys,premium,3.2,9,29.0,41.5,1641
3,4,148853,other,off_brand,4.1,4,14.0,54.2,1832
4,5,192908,health,off_brand,4.2,3,5.0,31.2,2967

In [3]:
PS_dummies = pd.get_dummies(df[['product_category', 'quality']]) 
df = pd.concat([df, PS_dummies], axis = 1)
df.head()

,Unnamed: 0,products_sold,product_category,quality,satisfaction,discount,retail_price,perc_physical,market_size,product_category_food,product_category_health,product_category_other,product_category_toys,quality_off_brand,quality_premium
0,1,162907,toys,premium,4.0,4,30.0,54.2,2744,False,False,False,True,False,True
1,2,195042,food,premium,3.9,4,22.0,64.4,3083,True,False,False,False,False,True
2,3,72749,toys,premium,3.2,9,29.0,41.5,1641,False,False,False,True,False,True
3,4,148853,other,off_brand,4.1,4,14.0,54.2,1832,False,False,True,False,True,False
4,5,192908,health,off_brand,4.2,3,5.0,31.2,2967,False,True,False,False,True,False

In [78]:
model1 = sm.ols('retail_price~product_category + products_sold + quality + satisfaction + discount + perc_physical + market_size + product_category_food + product_category_health + product_category_other + product_category_toys + quality_off_brand + quality_premium', data=df).fit() #reference category = currently food
print(model1.summary()) #is product_category the right choice for running this model?

                            OLS Regression Results
==============================================================================
Dep. Variable:           retail_price   R-squared:                       0.038
Model:                            OLS   Adj. R-squared:                  0.034
Method:                 Least Squares   F-statistic:                     8.473
Date:                Sat, 30 Mar 2024   Prob (F-statistic):           1.64e-12
Time:                        15:57:00   Log-Likelihood:                -6510.7
No. Observations:                1941   AIC:                         1.304e+04
Df Residuals:                    1931   BIC:                         1.310e+04
Df Model:                           9
Covariance Type:            nonrobust
===================================================================================================
                                      coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------------
Intercept                           6.9362      0.762      9.105      0.000       5.442       8.430
product_category[T.health]          1.2072      0.212      5.687      0.000       0.791       1.623
product_category[T.other]           0.8851      0.254      3.488      0.000       0.387       1.383
product_category[T.toys]            0.8323      0.234      3.563      0.000       0.374       1.290
quality[T.premium]                  1.9682      0.279      7.053      0.000       1.421       2.515
product_category_food[T.True]       4.0116      0.423      9.473      0.000       3.181       4.842
product_category_health[T.True]     1.2072      0.212      5.687      0.000       0.791       1.623
product_category_other[T.True]      0.8851      0.254      3.488      0.000       0.387       1.383
product_category_toys[T.True]       0.8323      0.234      3.563      0.000       0.374       1.290
quality_off_brand[T.True]           4.9680      0.518      9.582      0.000       3.951       5.985
quality_premium[T.True]             1.9682      0.279      7.053      0.000       1.421       2.515
products_sold                   -5.348e-05   6.58e-06     -8.122      0.000   -6.64e-05   -4.06e-05
satisfaction                        2.2466      0.429      5.235      0.000       1.405       3.088
discount                           -0.0012      0.008     -0.141      0.888      -0.017       0.015
perc_physical                       0.0109      0.008      1.371      0.171      -0.005       0.026
market_size                         0.0022      0.000      7.149      0.000       0.002       0.003
==============================================================================
Omnibus:                        5.920   Durbin-Watson:                   1.940
Prob(Omnibus):                  0.052   Jarque-Bera (JB):                4.815
Skew:                          -0.002   Prob(JB):                       0.0900
Kurtosis:                       2.756   Cond. No.                     9.27e+20
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 5.42e-29. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [20]:
#df.dropna() alle non values weg doen
df.isnull().sum()

Unnamed: 0                   0
products_sold                0
product_category             0
quality                    109
satisfaction                 0
discount                     0
retail_price               155
perc_physical               67
market_size                  0
product_category_food        0
product_category_health      0
product_category_other       0
product_category_toys        0
quality_off_brand            0
quality_premium              0
dtype: int64

In [58]:
df_new = pd.get_dummies(df, dummy_na=True)
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [59]:
df_imputed = IterativeImputer().fit_transform(df_new)
df_imputed = pd.DataFrame(df_imputed, columns=df_new.columns)
#replaced the NA's with estimates

#df_dropped = df.dropna()

In [79]:
model1_imputed = sm.ols('retail_price~products_sold + quality + satisfaction + discount + perc_physical + market_size + product_category_food + product_category_health + product_category_other + product_category_toys + quality_off_brand + quality_premium'', data=df_imputed).fit() #this wont work because df_new doesnt know a product_category table/row

SyntaxError: unterminated string literal (detected at line 1) (3180661057.py, line 1)

In [53]:
df_imputed.head()

,Unnamed: 0,products_sold,satisfaction,discount,retail_price,perc_physical,market_size,product_category_food,product_category_health,product_category_other,...,quality_off_brand,quality_premium,product_category_food,product_category_health,product_category_other,product_category_toys,product_category_nan,quality_off_brand,quality_premium,quality_nan
0,1.0,162907.0,4.0,4.0,30.0,54.2,2744.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1,2.0,195042.0,3.9,4.0,22.0,64.4,3083.0,1.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,3.0,72749.0,3.2,9.0,29.0,41.5,1641.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,4.0,148853.0,4.1,4.0,14.0,54.2,1832.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
4,5.0,192908.0,4.2,3.0,5.0,31.2,2967.0,0.0,1.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0

In [70]:
CooksD = model1_imputed.get_influence().cooks_distance #doesnt work yet!
n = len(df_imputed)
df_imputed['Outlier'] = CooksD[0] > 4/n
df_imputed.head()

,Unnamed: 0,products_sold,satisfaction,discount,retail_price,perc_physical,market_size,product_category_food,product_category_health,product_category_other,...,quality_premium,product_category_food,product_category_health,product_category_other,product_category_toys,product_category_nan,quality_off_brand,quality_premium,quality_nan,Outlier
0,1.0,162907.0,4.0,4.0,30.0,54.2,2744.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,False
1,2.0,195042.0,3.9,4.0,22.0,64.4,3083.0,1.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,False
2,3.0,72749.0,3.2,9.0,29.0,41.5,1641.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,False
3,4.0,148853.0,4.1,4.0,14.0,54.2,1832.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,False
4,5.0,192908.0,4.2,3.0,5.0,31.2,2967.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,True

In [80]:
df_v2 = df[df_imputed.Outlier == False]

Assignment 2:

In [81]:
df_v2.head()

,Unnamed: 0,products_sold,product_category,quality,satisfaction,discount,retail_price,perc_physical,market_size,product_category_food,product_category_health,product_category_other,product_category_toys,quality_off_brand,quality_premium
0,1,162907,toys,premium,4.0,4,30.0,54.2,2744,False,False,False,True,False,True
1,2,195042,food,premium,3.9,4,22.0,64.4,3083,True,False,False,False,False,True
2,3,72749,toys,premium,3.2,9,29.0,41.5,1641,False,False,False,True,False,True
3,4,148853,other,off_brand,4.1,4,14.0,54.2,1832,False,False,True,False,True,False
5,6,124273,health,premium,3.9,7,NaN,57.1,2525,False,True,False,False,False,True

In [85]:
df_v2.isnull().sum()

Unnamed: 0                   0
products_sold                0
product_category             0
quality                    102
satisfaction                 0
discount                     0
retail_price               155
perc_physical               60
market_size                  0
product_category_food        0
product_category_health      0
product_category_other       0
product_category_toys        0
quality_off_brand            0
quality_premium              0
dtype: int64

In [86]:
df_v2_new = pd.get_dummies(df_v2, dummy_na=True)

In [87]:
df_v2_new.head() #dealed with categorical missing data by adding a quality_nan list to show where data missing

,Unnamed: 0,products_sold,satisfaction,discount,retail_price,perc_physical,market_size,product_category_food,product_category_health,product_category_other,...,quality_off_brand,quality_premium,product_category_food,product_category_health,product_category_other,product_category_toys,product_category_nan,quality_off_brand,quality_premium,quality_nan
0,1,162907,4.0,4,30.0,54.2,2744,False,False,False,...,False,True,False,False,False,True,False,False,True,False
1,2,195042,3.9,4,22.0,64.4,3083,True,False,False,...,False,True,True,False,False,False,False,False,True,False
2,3,72749,3.2,9,29.0,41.5,1641,False,False,False,...,False,True,False,False,False,True,False,False,True,False
3,4,148853,4.1,4,14.0,54.2,1832,False,False,True,...,True,False,False,False,True,False,False,True,False,False
5,6,124273,3.9,7,NaN,57.1,2525,False,True,False,...,False,True,False,True,False,False,False,False,True,False

In [88]:
df_v2_imputed = IterativeImputer().fit_transform(df_v2_new)
df_v2_imputed = pd.DataFrame(df_v2_imputed, columns=df_v2_new.columns)

In [90]:
print(df_v2_imputed) #added imputed data for continuous missing data

#how to see where quality_nan = 1?????

      Unnamed: 0  products_sold  satisfaction  discount  retail_price  \
0            1.0       162907.0           4.0       4.0     30.000000
1            2.0       195042.0           3.9       4.0     22.000000
2            3.0        72749.0           3.2       9.0     29.000000
3            4.0       148853.0           4.1       4.0     14.000000
4            6.0       124273.0           3.9       7.0     21.197654
...          ...            ...           ...       ...           ...
2127      2246.0       112292.0           4.4       2.0     30.000000
2128      2247.0       251999.0           4.7       4.0     16.000000
2129      2248.0       108731.0           3.4       8.0     26.000000
2130      2249.0       100125.0           4.1      10.0     34.000000
2131      2250.0       121664.0           4.4       1.0     18.000000

      perc_physical  market_size  product_category_food  \
0              54.2       2744.0                    0.0
1              64.4       3083.0                    1.0
2              41.5       1641.0                    0.0
3              54.2       1832.0                    0.0
4              57.1       2525.0                    0.0
...             ...          ...                    ...
2127           47.5       1070.0                    0.0
2128           66.5       3404.0                    0.0
2129           55.6       1762.0                    0.0
2130           29.2       1160.0                    0.0
2131           83.7       1026.0                    0.0

      product_category_health  product_category_other  ...  quality_off_brand  \
0                         0.0                     0.0  ...                0.0
1                         0.0                     0.0  ...                0.0
2                         0.0                     0.0  ...                0.0
3                         0.0                     1.0  ...                1.0
4                         1.0                     0.0  ...                0.0
...                       ...                     ...  ...                ...
2127                      0.0                     0.0  ...                1.0
2128                      0.0                     0.0  ...                1.0
2129                      1.0                     0.0  ...                1.0
2130                      0.0                     0.0  ...                0.0
2131                      0.0                     0.0  ...                1.0

      quality_premium  product_category_food  product_category_health  \
0                 1.0                    0.0                      0.0
1                 1.0                    1.0                      0.0
2                 1.0                    0.0                      0.0
3                 0.0                    0.0                      0.0
4                 1.0                    0.0                      1.0
...               ...                    ...                      ...
2127              0.0                    0.0                      0.0
2128              0.0                    0.0                      0.0
2129              0.0                    0.0                      1.0
2130              1.0                    0.0                      0.0
2131              0.0                    0.0                      0.0

      product_category_other  product_category_toys  product_category_nan  \
0                        0.0                    1.0                   0.0
1                        0.0                    0.0                   0.0
2                        0.0                    1.0                   0.0
3                        1.0                    0.0                   0.0
4                        0.0                    0.0                   0.0
...                      ...                    ...                   ...
2127                     0.0                    1.0                   0.0
2128                     0.0                    1.0                   0.0
2129                     0.0                    0.0                   0.0
2130                     0.0                    1.0                   0.0
2131                     0.0                    1.0                   0.0

      quality_off_brand  quality_premium  quality_nan
0                   0.0              1.0          0.0
1                   0.0              1.0          0.0
2                   0.0              1.0          0.0
3                   1.0              0.0          0.0
4                   0.0              1.0          0.0
...                 ...              ...          ...
2127                1.0              0.0          0.0
2128                1.0              0.0          0.0
2129                1.0              0.0          0.0
2130                0.0              1.0          0.0
2131                1.0              0.0          0.0

[2132 rows x 21 columns]

! last step for assignment 2 is checking for multicollinearity